# Ignore system files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Logs
*.log

# Virtual environments
venv/
__pycache__/

# Node.js dependencies
node_modules/

# Build files
dist/
build/
*.class
*.exe
*.zip

# Environment files
.env
